@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap:100,200,300,400,500,600,700|Nunito&display=swap:100,200,300,400,500,600,700');
/* I have imported the font I want here in CSS to save repetion. I put it here the once and it will save me putting it in every html file */

/*I have chosen Raleway as it is angular enough to reflect/mirror the lightening bolts but soft enough to welcome you to the site.
I have chosen Nunito as it is a soft compliment towards Raleway*/

/*---------------------------------------------------heading*/

header {
    margin: 0;
}

.logo {
    background: url("../images/logos/yathaiger-black-bg-none.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    transition: all .5s ease-in-out;
    /* the above line - a little bit of animation for when the image is loading */
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    /* the above 2 lines - need to add the broswer prefixes & vendor prefixes (-moz- & -webkit-) to make sure it works in all broswers */
}

.header-container {
    padding-left: 0;
    padding-right: 0;
    /* this is so the header container which houses the logo and navbar fills the screen horizontally */
    font-family: "Raleway", sans-serif;
    font-weight: 100;
}

/*---------------------------------------------------callout*/

.callout-container {
    height: 100vh;

    background: url("../images/welcome/ya-jumbotron.jpg") no-repeat bottom left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*---------------------------------------------------jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #628cb7;
    font-weight: bold;
    color: #fff;
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 30px;
    font-family: "Raleway", sans-serif;
}

.jumbotron .lead {
    font-family: "Nunito", sans-serif;
    font-size: 1.40rem;
    font-weight: 300;
    color: #b4b9bd;
}

.jumbotron small {
    font-size: 90%;
    font-weight: 500;
    color: White;
}

/*---------------------------------------------------buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--teal {
    color: white;
    background-color: #07a5a5;
    border-color: #07a5a5;
}

.btn--teal:hover,
.btn--teal:active,
.btn--teal:focus,
.btn--teal:active:focus {
    background-color: #088484;
    border-color: #088484;
}

/*---------------------------------------------------block dividers*/

.block-divider-container {
}

.block-divider {
    width: 50px;
    height: 5px;
    border: 0;
    background-color: #07a5a5;
    margin-top: 30px;
}

.block-divider--logo {
    background: url("../images/logos/yathaiger2-black-bg-none.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 80px;
}

/*---------------------------------------------------about*/

.about-container {}

/*---------------------------------------------------quotes*/

.quotes-container {}

/*---------------------------------------------------footer*/

.footer-container {
    padding-top: 12px;
}

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
}

#footer-details {
    padding: 20px;
}

i {
    padding-right: 10px;
}

.Note {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    background-color: orange;
    text-align: center;
    letter-spacing: 2px;
}

/*---------------------------------------------------next*/

/*---------------------------------------------------next*/
